.card {
  width: 14rem;
  margin: 0.75rem;
  border: 4px solid teal;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: teal;
  background-color: white;
}

.button-cancel {
  width: 95%;
  border: 0;
  padding: 0.35rem;
  color: white;
  background-color: teal;
  font-size: 1rem;
}